/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:100%;
  height:100%;
}
#carousel {
  height:100%;
  width:100%;
  /*background-color:#CCC;*/
  visibility:collapse;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  visibility:visible;
  border:0;
  height: auto;
  width:100%;
  max-height: 100%;
  overflow-y: hidden;

  position:relative;
  display:table-cell; 
  vertical-align:middle;
  
}
.carousel-feature {
  max-height: 80%;
  visibility:visible;
  /*top:-1000px;*/
  /*left:-1000px;*/
  /*border:2px solid #5d5d5d;*/
  cursor:pointer;
  overflow-y: hidden;
  
  position:absolute;
  display:table;
  table-layout:fixed;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#000;
}
.carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  position:absolute;
  bottom:5%;
  left:40%;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:5%;
  right:40%;
  cursor:pointer;
}
.button b-close{
  position:absolute;
  bottom:5%;
  right:50%;
  cursor:pointer;
}