#main {
    overflow: hidden;
}

/**
 * Grid items animation
 */
#tiles li {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wookmark-placeholder {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/**
 * Filters
 */
#filters {
    /*list-style-type: none;*/
    /*text-align: center;*/
    /*margin: 0 5% 0 5%;*/
    padding-right: 15px;
}

#filters li {
    /*font-size: 12px;*/
    /*float: left;*/
    /*padding: 6px 0 4px 0;*/
    /*cursor: pointer;*/
    /*margin: 0 1% 0 1%;*/
    /*width: 8%;*/
    /*-webkit-transition: all 0.15s ease-out;*/
    /*-moz-transition: all 0.15s ease-out;*/
    /*-o-transition: all 0.15s ease-out;*/
    /*transition: all 0.15s ease-out;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
}

#filters li:hover {
    /*background: #4281f5;*/
    /*color: #ffffff;*/
}

#filters li.active {
    -webkit-filter: grayscale(0%);
}
#filters li.inactive {
    -webkit-filter: grayscale(100%);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color:inherit;
    background-color:inherit;
}