::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.carouselItems{
    width:100%;
    height:auto;
    background-color: white;
    margin-top:auto;
    margin-bottom:auto;
    position:relative;
    padding-top:5px;
    padding-bottom:5px;
    max-height: 80%;
    /*top:0;
    bottom:0;
    position:absolute;*/

}
#pp_cardFacebook,#pp_cardTwitter,#pp_cardInstagram,#pp_cardYoutube,#pp_cardPinterest{
    position: relative;
    top:1.5%;
    left:2.5%;
    height: 100%;
    width:95%;
    overflow:hidden;
    
    clear:both;
}
#pp_cardFacebook:hover,#pp_cardTwitter:hover,#pp_cardInstagram:hover,#pp_cardYoutube:hover,#pp_cardPinterest:hover{
    overflow-y:scroll;
    overflow-x:hidden;
}
#pp_cardInstagram{
    background: rgb(153,116,97); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(153,116,97,1) 0%, rgba(92,78,67,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,116,97,1)), color-stop(75px,rgba(92,78,67,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(153,116,97,1) 0%,rgba(92,78,67,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(153,116,97,1) 0%,rgba(92,78,67,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(153,116,97,1) 0%,rgba(92,78,67,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(153,116,97,1) 0%,rgba(92,78,67,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#997461', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#pp_cardTwitter{
    background: rgb(156,195,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(156,195,234,1) 0%, rgba(74,131,184,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156,195,234,1)), color-stop(75px,rgba(74,131,184,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(156,195,234,1) 0%,rgba(74,131,184,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(156,195,234,1) 0%,rgba(74,131,184,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(156,195,234,1) 0%,rgba(74,131,184,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(156,195,234,1) 0%,rgba(74,131,184,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc3ea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#pp_cardPinterest{
    background: rgb(250,135,138); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(250,135,138,1) 0%, rgba(255,65,66,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,135,138,1)), color-stop(75px,rgba(255,65,66,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(250,135,138,1) 0%,rgba(255,65,66,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(250,135,138,1) 0%,rgba(255,65,66,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(250,135,138,1) 0%,rgba(255,65,66,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(250,135,138,1) 0%,rgba(255,65,66,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa878a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#pp_cardFacebook{
    background: rgb(139,166,219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(139,166,219,1) 0%, rgba(56,86,140,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,166,219,1)), color-stop(75px,rgba(56,86,140,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ba6db', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#pp_cardYoutube{
    background: rgb(203,90,92); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(203,90,92,1) 0%, rgba(153,49,50,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,90,92,1)), color-stop(75px,rgba(153,49,50,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(203,90,92,1) 0%,rgba(153,49,50,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(203,90,92,1) 0%,rgba(153,49,50,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(203,90,92,1) 0%,rgba(153,49,50,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(203,90,92,1) 0%,rgba(153,49,50,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5a5c', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.contentStuff:hover div img{
    display: inline;
    visibility:visible;
    transition:visibility 0s linear 0.3s,opacity 0.5s linear;
}

.contentStuff{
    -webkit-box-shadow: 0px 8px 4px -3px rgba(140, 140, 140, 1);
    -moz-box-shadow:    0px 8px 4px -3px rgba(140, 140, 140, 1);
    box-shadow:         0px 8px 4px -3px rgba(140, 140, 140, 1);
}

.contentStuff:hover{
    border:2px solid #333E50 !important;
    border-bottom: 20px solid #333E50 !important;
    -webkit-box-shadow: 0px 8px 4px -3px rgba(140, 140, 140, 1);
    -moz-box-shadow:    0px 8px 4px -3px rgba(140, 140, 140, 1);
    box-shadow:         0px 8px 4px -3px rgba(140, 140, 140, 1);
}


/*Start of Card Top Banner*/
#pp_cardBanner{
    height:65px;
    width:100%;
    display:inline-block;
    clear:both;
}
    #pp_dp{
        position: relative;
        float: left;
        width:60px;
        height: 60px;
        top:3px;
        left:2%;
        overflow-y: hidden;
        overflow-x: hidden;
        border: 1px solid #313D53;
        z-index:2;
    }
    #pp_dpEx{
        //border: 1px solid #313D53;
    }
    #pp_name{
        position: absolute;
        left: 70px;
        padding-top:1.5%;
        width:60%;
        height:46px;
        overflow-y: hidden;
        text-transform:capitalize;
        
    }
    #pp_name h13{
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;       
        //font-size: 10px;
        font-size: 140%;
        color:black;
        word-wrap:break-word;
        font-weight:700;
    }
    #pp_time_stamp{
        position: relative;
        float:right;
        height:18px;
        right: 2%;
        top: 44px;
        width:72%;
        text-align: center;
        /*//padding-bottom: 5px;*/
        background-color: #cccccc;
        opacity:0.7;
        padding-top: 2px;
        
    }
    #pp_time_stamp h8{
        font-size:12px;
        /*//color:#333f50;*/
        color: black;
        font-weight: 100;
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    }
    #pp_networkIcon{
        width:25px;
        height:25px;
        position: absolute;
        right: 1.5%;
        //top: 1.5%;
        float:right;
        padding-top: 1.5%;
    }
/*END of Card Top Banner*/
    
/*START of Title*/
#pp_dataTypeString{
    background-color: #313D53;
    background-color: #232726;
    position: relative;
    top:0px;
    left:5px;
    width:96.5%;
    padding-bottom: 2px;
    padding-top: 0px;
    opacity: 0.7;
    padding-left: 4px;
    padding-right: 4px;
}
#pp_dataTypeString h9{
    text-transform:capitalize;
    color:whitesmoke;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 13px;
    word-wrap:break-word;
}
/*END of Title*/

/*START of Media*/
#pp_media1{
    position: relative;
    width:96.5%;
    top:5px;
    z-index: 2;
}
#pp_mediaImg1{
    position: relative;
    top:3px;
    left:5px;
}
#pp_mediaVid1{
    position: absolute;
    top:5px;
    left:5px;
}
#pp_media2{
    position: relative;
    width:180px;
    top:5px;
    left:5px;
    height: 90px; 
    overflow: hidden;
}
#pp_mediaImg2_1{
    position: absolute;
    top:0px;
    left:0px; 
    overflow-y: hidden;
}
#pp_mediaImg2_2{
    position: absolute;
    top:0px;
    left:92.5px;
    overflow-y: hidden;
}
#pp_media3{
    position: relative;
    width:180px;
    top:5px;
    left:5px;
    height: 180px;    
}
#pp_mediaImg3_1{
    position: absolute;
    top:0px;
    left:0px;
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#pp_mediaImg3_2{
    position: absolute;
    top:92.5px;
    left:0px;  
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#pp_mediaImg3_3{
    position: absolute;
    top:92.5px;
    left:92.5px;
    /*max-height: 87.5px;*/
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
/*#mediaImg3_3 img {
    vertical-align: middle;
}*/
#pp_media4{
    position: relative;
    width:180px;
    top:5px;
    left:5px;
    height: 180px;    
}
#pp_mediaImg4_1{
    position: absolute;
    top:0px;
    left:0px; 
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#pp_mediaImg4_2{
    position: absolute;
    top:0px;
    left:92.5px;
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#pp_mediaImg4_3{
    position: absolute;
    top:92.5px;
    left:0px; 
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#pp_mediaImg4_4{
    position: absolute;
    top:92.5px;
    left:92.5px; 
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
/*END of Media*/



/*START of Statistics*/
/*Facebook STATS*/
#pp_fbStat{
    position: relative;
    left:5px;
    top:5px;
    height:20px;
    width:96%;
}
    #pp_fbLikeIcon{
        position: absolute;
        top:2px;
        left:15%;
    }
    #pp_fbLike{
        text-align: left;
        padding-left:65px;
        position: absolute;
        width:50%;
        //height:18px;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #cccccc;
        opacity:0.7;
    }
    #pp_fbLike h12{
        font-size: 13px;
    }
    #pp_fbCommentIcon{
        position: absolute;
        top:3px;
        left:55%;
    }
    #pp_fbComment{
        text-align: left;
        padding-left:35px;
        position: absolute;
        left:50%;
        width:50%;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #cccccc;
        opacity:0.7;
    }
    #pp_fbComment h12{
        font-size: 13px;
    }
    
/*Twitter STATS*/
#pp_twitterStat{
    position: relative;
    top:5px;
    width:96.5%;
    clear:both;
}
    #pp_retweets{
        position: relative;
        left:5px;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
        text-align: center;
        float:left;
    }
    #pp_retweets h12{
        font-size: 12px;
    }
    #pp_favourites{
        position: relative;
        float:right;
        right:-2%;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
        text-align: center;
    }
    #pp_favourites h12{
        font-size: 12px;
    }
    
/*Instagram STATS*/
#pp_InStat{
    position: relative;
    left:5px;
    top:5px;
    width:96.5%;
}
    #pp_InLikeIcon{
        position: absolute;
        top:1px;
        left:15%;
    }
    #pp_InLike{
        text-align: left;
        padding-left:65px;
        position: relative;
        float:left;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #pp_InLike h12{
        font-size: 13px;
    }
    #pp_InCommentIcon{
        position: absolute;
        top:1px;
        left:55%;
    }
    #pp_InComment{
        text-align: left;
        padding-left:35px;
        position: relative;
        float:left;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #pp_InComment h12{
        font-size: 13px;
    }
    
 /*YouTube STATS*/
#pp_ytStat1{
    position: relative;
    left:5px;
    top:5px;
    height:20px;
    width:96.5%;
}
    #pp_ytLikeIcon{
        position: absolute;
        top:1px;
        left:15%;
    }
    #pp_ytLike{
        text-align: left;
        padding-left:65px;
        position: relative;
        float:left;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #pp_ytLike h12{
        font-size: 13px;
    }
    #pp_ytUnlikeIcon{
        position: absolute;
        top:1px;
        left:55%;
    }
    #pp_ytUnlike{
        text-align: left;
        padding-left:35px;
        position: relative;
        float:left;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #pp_ytUnlike h12{
        font-size: 13px;
    }   
 #pp_ytStat2{
    position: relative;
    left:5px;
    top:5px;
    height:20px;
    width:96.5%;
}
    #pp_ytCommentIcon{
        position: absolute;
        top:1px;
        left:15%;
    }
    #pp_ytComment{
        text-align: left;
        padding-left:65px;
        position: relative;
        float:left;
        width:90%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #pp_ytComment h12{
        font-size: 13px;
    }
    #pp_ytWatchIcon{
        position: absolute;
        top:1px;
        left:55%;
    }
    #pp_ytWatch{
        text-align: left;
        padding-left:35px;
        position: relative;
        float:left;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #pp_ytWatch h12{
        font-size: 13px;
    }    
    
/*END of Statistics*/

/*START of Text*/

#pp_text1{
    float: left;
    min-height: 32px;
    position: relative;
    top:8px;
    left:5px;
    width:96.5%;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #cccccc;
    opacity:0.7;
    text-align:center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
#pp_text1 h11{
    font-size: 13px;
    color:black;
    word-wrap:break-word;
}
#pp_text2{
    float: left;
    min-height: 32px;
    position: relative;
    top:13px;
    left:5px;
    width:96.5%;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #cccccc;
    opacity:0.7;
    text-align:center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
#pp_text2 h11{
    font-size: 13px;
    color:black;
    word-wrap:break-word;
}
#pp_text3{
    float: left;
    min-height: 32px;
    position: relative;
    top:18px;
    left:5px;
    width:96.5%;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #cccccc;
    opacity:0.7;
    text-align:center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
#pp_text3 h11{
    font-size: 13px;
    color:black;
    word-wrap:break-word;
}
#pp_text4{
    float: left;
    min-height: 32px;
    position: relative;
    top:23px;
    left:5px;
    width:96.5%;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #cccccc;
    opacity:0.7;
    text-align:center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    padding-bottom: 2px;
}
#pp_text4 h11{
    font-size: 13px;
    color:black;
    word-wrap:break-word;
}
/*END of Text*/


#pp_spacer1{
    position:relative;
    width:190px;
    top:0px;
    height:7px;  
    float:left;
}
#pp_spacer2{
    position:relative;
    width:190px;
    top:0px;
    height:13px;  
    float:left;
}
#pp_spacer3{
    position:relative;
    width:190px;
    top:0px;
    height:19px; 
    float:left;
}
#pp_spacer4{
    position:relative;
    width:190px;
    top:0px;
    height:22px;  
    float:left;
}

#pp_spacerline{
    width:190px;
    top:0px;
    height:1px;
    position:relative;
    background: #44569C;
} 


/*FullScreen Functionality*/

/*FullScreen Background*/
.popUp{
    display: none;
    background: rgb(139,166,219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(139,166,219,1) 0%, rgba(56,86,140,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,166,219,1)), color-stop(75px,rgba(56,86,140,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ba6db', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    width: 80%;
    height:auto;
    overflow: hidden;
}

.makeFullScreen{
    display: none;
    width:100%;
    height:100%;
}
.carousel-container{
    width:100%;
}
