/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 70px;
    //padding-bottom: 20px;
    background-color: #E7E5E6;
}

.small-logo {
    width:30px;
    height:30px;
    margin-top:10px;
}

.small-nav-icon {
    float:left;
    width:30px;
    height:30px;
    margin-top:-5px;
    background-color: #FFF;
}

.icon-greyed {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}






/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
    background-color: #0BC20B;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}

#auth-table tr {
    height:80px;
}

#deactivate-icon {
    color: #c9302c;
}

#home-nav {
    display:inline-block;
}
#cog-nav {
    display:inline-block;
}

/* Loading circle */
#loading-circle {
    background-image:url('../images/loading.gif');
    height: 100px;
    width: 100px;
}


/* tooltips */
.tooltip-inner {
    white-space: nowrap;
    max-width: 350px;
}

/* Loading Circle */
#dvLoading
{
   background: url('../images/loading.gif') no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   margin: -25px 0 0 -25px;
}

/*.carousel-container{
    display: none;    
}*/

/* success on the authorization page */
.auth-page-btn {
    width: 125px;
}

/* on the authorize page for rss */
#rss-display-feeds {
    list-style-type: none;
}
