#main{
    padding-top: 3px;
    top:-10px;
}


#cardFacebook,#cardTwitter,#cardInstagram,#cardYoutube,#cardPinterest,#cardTumblr,cardDefault{
    position: relative;
    height: auto;
    
    
}

#cardInstagram{
    background: rgb(153,116,97); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(153,116,97,1) 0%, rgba(92,78,67,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,116,97,1)), color-stop(75px,rgba(92,78,67,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(153,116,97,1) 0%,rgba(92,78,67,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(153,116,97,1) 0%,rgba(92,78,67,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(153,116,97,1) 0%,rgba(92,78,67,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(153,116,97,1) 0%,rgba(92,78,67,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#997461', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#cardTwitter{
    background: rgb(156,195,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(156,195,234,1) 0%, rgba(74,131,184,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156,195,234,1)), color-stop(75px,rgba(74,131,184,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(156,195,234,1) 0%,rgba(74,131,184,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(156,195,234,1) 0%,rgba(74,131,184,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(156,195,234,1) 0%,rgba(74,131,184,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(156,195,234,1) 0%,rgba(74,131,184,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc3ea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#cardPinterest{
    background: rgb(250,135,138); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(250,135,138,1) 0%, rgba(255,65,66,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,135,138,1)), color-stop(75px,rgba(255,65,66,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(250,135,138,1) 0%,rgba(255,65,66,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(250,135,138,1) 0%,rgba(255,65,66,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(250,135,138,1) 0%,rgba(255,65,66,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(250,135,138,1) 0%,rgba(255,65,66,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa878a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#cardFacebook{
    background: rgb(139,166,219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(139,166,219,1) 0%, rgba(56,86,140,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,166,219,1)), color-stop(75px,rgba(56,86,140,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ba6db', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#cardYoutube{
    background: rgb(203,90,92); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(203,90,92,1) 0%, rgba(153,49,50,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,90,92,1)), color-stop(75px,rgba(153,49,50,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(203,90,92,1) 0%,rgba(153,49,50,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(203,90,92,1) 0%,rgba(153,49,50,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(203,90,92,1) 0%,rgba(153,49,50,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(203,90,92,1) 0%,rgba(153,49,50,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5a5c', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#cardTumblr{
    background: rgb(125,142,170); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,142,170,1) 0%, rgba(68,78,90,1) 25%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,142,170,1)), color-stop(25%,rgba(68,78,90,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,142,170,1) 0%,rgba(68,78,90,1) 25%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,142,170,1) 0%,rgba(68,78,90,1) 25%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,142,170,1) 0%,rgba(68,78,90,1) 25%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,142,170,1) 0%,rgba(68,78,90,1) 25%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d8eaa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#cardDefault{
    background: rgb(81,74,82); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(81,74,82,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,74,82,1)), color-stop(25%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(81,74,82,1) 0%,rgba(0,0,0,1) 25%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(81,74,82,1) 0%,rgba(0,0,0,1) 25%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(81,74,82,1) 0%,rgba(0,0,0,1) 25%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(81,74,82,1) 0%,rgba(0,0,0,1) 25%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#514a52', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.contentStuff:hover div img{
    display: inline;
    visibility:visible;
    transition:visibility 0s linear 0.3s,opacity 0.5s linear;
}

.contentStuff{
    -webkit-box-shadow: 0px 8px 4px -3px rgba(140, 140, 140, 1);
    -moz-box-shadow:    0px 8px 4px -3px rgba(140, 140, 140, 1);
    box-shadow:         0px 8px 4px -3px rgba(140, 140, 140, 1);
}

.contentStuff:hover{
    border:2px solid #333E50 !important;
    border-bottom: 20px solid #333E50 !important;
    -webkit-box-shadow: 0px 8px 4px -3px rgba(140, 140, 140, 1);
    -moz-box-shadow:    0px 8px 4px -3px rgba(140, 140, 140, 1);
    box-shadow:         0px 8px 4px -3px rgba(140, 140, 140, 1);
}

#bottom-controls{
    width:96%;
    height:20px;
    position:absolute;
    bottom: -17px;  
}


#sourceIcon{
    display: hidden;
    visibility:hidden; 
    position:absolute;
    bottom: 0px;
    left:35%;
}
#bookmarkIcon{
    display: hidden;
    visibility:hidden;
    position:absolute;
    bottom: 0px;
    left:45%;
}
#fullScreenIcon{
    display: hidden;
    visibility:hidden;
    position:absolute;
    bottom: 0px;
    left:55%;
}
#closeIcon{
    display: hidden;
    visibility:hidden;
    position:absolute;
    bottom: 0px;
    left:65%;
}

/*Start of Card Top Banner*/
#cardBanner{
    height:80px;
    width:100%;
    display:inline-block;
    clear:both;
    
}
    #dp{
        position: relative;
        float:left;
        width:30%;
        height: 90%;
        top:5px;
        left:2%;
        overflow: hidden;
    }
    #dpEx{
        border: 1px solid #313D53;
    }
    #name{
        float: left;
        position: relative;
        left: 3%;
        top: 2px;
        width:50%;
        height:70%;
        overflow-y: hidden;
        text-transform:capitalize;
    }
    #name h13{
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;       
        font-size: 13px;
        color:black;
        word-wrap:break-word;
        font-weight:700;
    }
    #time_stamp{
        position: relative;
        float: left;
        /*height:18px;*/
        height:24%;
        left: 3%;
        bottom:-1%;
        width:65%;
        text-align: center;
        /*//padding-bottom: 5px;*/
        background-color: #cccccc;
        opacity:0.7;
    }
    #time_stamp h8{
        font-size:13px;
        /*//color:#333f50;*/
        color: black;
        font-weight: 100;
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    }
    #networkIcon{
        width:30px;
        height:30px;
        position: absolute;
        float: right;
        right: 1.5%;
        padding-top: 1.5%;
    }
/*END of Card Top Banner*/
    
/*START of Title*/
#dataTypeString{
    background-color: #313D53;
    background-color: #232726;
    position: relative;
    top:0px;
    left:2%;
    width:96%;
    padding-bottom: 2px;
    padding-top: 0px;
    opacity: 0.7;
    padding-left: 4px;
    padding-right: 4px;
}
#dataTypeString h9{
    text-transform:capitalize;
    color:whitesmoke;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 13px;
    word-wrap:break-word;
}
/*END of Title*/

/*START of Media*/
#media1{
    position: relative;
    width:96%;
    top:5px;
    left:2%;
    //left:5px;
    //min-height: 90px;
}
#mediaImg1{
    position: relative;
    top:3px;
}
#mediaVid1{
    position: absolute;
    top:5px;
}
#media2{
    position: relative;
    width:96%;
    top:5px;
    left:2%;
    height: 90px; 
    overflow: hidden;
}
#mediaImg2_1{
    position: absolute;
    top:0px;
    left:0px; 
    overflow-y: hidden;
}
#mediaImg2_2{
    position: absolute;
    top:0px;
    left:92.5px;
    overflow-y: hidden;
}
#media3{
    position: relative;
    width:180px;
    top:5px;
    left:5px;
    height: 180px;    
}
#mediaImg3_1{
    position: absolute;
    top:0px;
    left:0px;
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#mediaImg3_2{
    position: absolute;
    top:92.5px;
    left:0px;  
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#mediaImg3_3{
    position: absolute;
    top:92.5px;
    left:92.5px;
    //max-height: 87.5px;
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
/*#mediaImg3_3 img {
    vertical-align: middle;
}*/
#media4{
    position: relative;
    width:180px;
    top:5px;
    left:5px;
    height: 180px;    
}
#mediaImg4_1{
    position: absolute;
    top:0px;
    left:0px; 
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#mediaImg4_2{
    position: absolute;
    top:0px;
    left:92.5px;
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#mediaImg4_3{
    position: absolute;
    top:92.5px;
    left:0px; 
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
#mediaImg4_4{
    position: absolute;
    top:92.5px;
    left:92.5px; 
    height:87.5px;
    overflow-y: hidden;
    vertical-align: middle;
}
/*END of Media*/



/*START of Statistics*/
/*Facebook STATS*/
#fbStat{
    position: relative;
    left:2%;
    top:5px;
    height:20px;
    width:96%;
}
    #fbLikeIcon{
        position: absolute;
        top:2px;
        left:20%;
    }
    #fbLike{
        text-align: left;
        padding-left:29%;
        position: absolute;
        width:50%;
        /*height:23px;*/
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #cccccc;
        opacity:0.7;
    }
    #fbLike h12{
        font-size: 13px;
    }
    #fbCommentIcon{
        position: absolute;
        top:4px;
        left:61%;
    }
    #fbComment{
        text-align: left;
        padding-left:20%;
        position: absolute;
        left:50%;
        width:50%;
        /*height:23px;*/
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #cccccc;
        opacity:0.7;
    }
    #fbComment h12{
        font-size: 13px;
    }
    
/*Twitter STATS*/
#twitterStat{
    position: relative;
    top:2%;
    height:20px;
    width:96%;
    left:2%;
}
    #retweets{
        position: absolute;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
        text-align: center;
    }
    #retweets h12{
        font-size: 11px;
    }
    #favourites{
        position: absolute;
        left:50%;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
        text-align: center;
    }
    #favourites h12{
        font-size: 11px;
    }
    
/*Instagram STATS*/
#InStat{
    position: relative;
    left:2%;
    top:5px;
    height:20px;
    width:96%;
}
    #InLikeIcon{
        position: absolute;
        top:1px;
        left:20%;
    }
    #InLike{
        text-align: left;
        padding-left:29%;
        position: absolute;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #InLike h12{
        font-size: 13px;
    }
    #InCommentIcon{
        position: absolute;
        top:1px;
        left:61%;
    }
    #InComment{
        text-align: left;
        padding-left:20%;
        position: absolute;
        left:50%;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #InComment h12{
        font-size: 13px;
    }
    
 /*YouTube STATS*/
#ytStat1{
    position: relative;
    left:2%;
    top:5px;
    height:20px;
    width:96%;
}
    #ytLikeIcon{
        position: absolute;
        top:1px;
        left:25%;
    }
    #ytLike{
        text-align: left;
        padding-left:35%;
        position: absolute;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #ytLike h12{
        font-size: 13px;
    }
    #ytUnlikeIcon{
        position: absolute;
        top:1px;
        left:57%;
    }
    #ytUnlike{
        text-align: left;
        padding-left:19%;
        position: absolute;
        left:50%;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #ytUnlike h12{
        font-size: 13px;
    }   
 #ytStat2{
    position: relative;
    left:2%;
    top:5px;
    height:20px;
    width:96%;
}
    #ytCommentIcon{
        position: absolute;
        top:1px;
        left:25%;
    }
    #ytComment{
        text-align: left;
        padding-left:35%;
        position: absolute;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #ytComment h12{
        font-size: 13px;
    }
    #ytWatchIcon{
        position: absolute;
        top:1px;
        left:57%;
    }
    #ytWatch{
        text-align: left;
        padding-left:19%;
        position: absolute;
        left:50%;
        width:50%;
        background-color: #cccccc;
        opacity:0.7;
    }
    #ytWatch h12{
        font-size: 13px;
    }    

/*Tumblr STATS*/
#tumblrStat{
    position: relative;
    top:5px;
    left:2%;
    height:20px;
    width:96%;
}
    #tumblrNotes{
        position: absolute;
        width:100%;
        background-color: #cccccc;
        opacity:0.7;
        text-align: center;
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    }
    #tumblrNotes h12{
        font-size: 13px;
    }
 
/*END of Statistics*/

/*START of Text*/

#text1{
    /*float:left;*/
    min-height: 32px;
    position: relative;
    top:8px;
    left:5px;
    width:96%;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #cccccc;
    opacity:0.7;
    text-align:center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
#text1 h11{
    font-size: 13px;
    color:black;
    word-wrap:break-word;
}
#text2{
    /*float:left;*/
    min-height: 32px;
    position: relative;
    top:13px;
    left:5px;
    width:96%;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #cccccc;
    opacity:0.7;
    text-align:center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
#text2 h11{
    font-size: 13px;
    color:black;
    word-wrap:break-word;
}
#text3{
    /*float:left;*/
    min-height: 32px;
    position: relative;
    top:18px;
    left:5px;
    width:96%;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #cccccc;
    opacity:0.7;
    text-align:center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
#text3 h11{
    font-size: 13px;
    color:black;
    width:180px;
    word-wrap:break-word;
}
#text4{
    /*float:left;*/
    min-height: 32px;
    position: relative;
    top:23px;
    left:5px;
    width:96%;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #cccccc;
    opacity:0.7;
    text-align:center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    padding-bottom: 2px;
}
#text4 h11{
    font-size: 13px;
    color:black;
    word-wrap:break-word;
}
/*END of Text*/


#spacer1{
    /*float:left;*/
    position:relative;
    width:96%;
    top:0px;
    height:0px;  
}
#spacer2{
    /*float:left;*/
    position:relative;
    width:96%;
    top:0px;
    height:6px;  
}
#spacer3{
    /*float:left;*/
    position:relative;
    width:96%;
    top:0px;
    height:12px;  
}
#spacer4{
    /*float:left;*/
    position:relative;
    width:96%;
    top:0px;
    height:15px;  
}

#spacerline{
    width:190px;
    top:0px;
    height:1px;
    position:relative;
    background: #44569C;
} 


/*FullScreen Functionality*/

/*FullScreen Background*/
.popUp{
    display: none;
    background: rgb(139,166,219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(139,166,219,1) 0%, rgba(56,86,140,1) 75px, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,166,219,1)), color-stop(75px,rgba(56,86,140,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(139,166,219,1) 0%,rgba(56,86,140,1) 75px,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ba6db', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    width: 80%;
    height:auto;
    overflow: hidden;
}

.makeFullScreen{
    display: none;
}